@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-loop {
  animation: slide 5s linear 0s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
